<!-- prettier-ignore -->
{% extends "base.html" %}{% load static %}

<!-- prettier-ignore -->
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'styles/accounts.css' %}" />
{% endblock %}
<!-- prettier-ignore -->
{% block main %} 

{% if not request.user.is_authenticated %}
<h1 class="welcome-msg">WELCOME TO WATCHLY</h1>
<a
  class="btn"
  href="{% url 'accounts:login' %}"
  >Login</a
>
<a
  class="btn"
  href="{% url 'accounts:register' %}"
  >Register</a
>

{% else %}
<h1 class="welcome-msg">
  HELLO {{ request.user.username }}, WELCOME TO WATCHLY
</h1>
<a
  class="btn"
  href="{% url 'accounts:logout' %}"
  >Logout</a
>
{% endif %}

<!-- prettier-ignore -->
{% endblock %}
