<!-- prettier-ignore -->
{% extends "base.html" %}{% load static %}

<!-- prettier-ignore -->
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'styles/accounts.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'styles/homepage.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block main %}
<div id="homepage">
  {% if not request.user.is_authenticated %}
  <h1
    class="welcome-msg"
    style="text-align: center">
    WELCOME TO WATCHLY
  </h1>
  <div class="wrap">
    <a
      class="btn"
      href="{% url 'accounts:login' %}"
      >Login</a
    >
    <a
      class="btn"
      href="{% url 'accounts:register' %}"
      >Register</a
    >
  </div>

  {% else %}
  <div class="welcome-animation">Welcome to Watchly</div>

  <!-- <h1 class="welcome-msg">WELCOME, {{ request.user.username }}</h1> -->

  <div class="sections">
    <section id="bookmarks">
      <div class="section-header">
        <a href="{% url 'bookmarks:index' %}"
          ><p class="section-title">BOOKMARKS</p></a
        >
        <p class="section-count">( {{ bookmark_count }} )</p>
      </div>

      <div class="section-posters">
        {% for bookmark in bookmarks %}
        <div class="poster">
          <a
            href="{% url 'bookmarks:detailed' bookmark.id %}"
            class="poster-card">
            <img
              src="https://image.tmdb.org/t/p/original{{ bookmark.posterpath }}"
              alt="{{ bookmark.title }}" />
          </a>
        </div>
        {% endfor %}
      </div>
    </section>

    <section id="history">
      <div class="section-header">
        <a href="{% url 'history:index' %}"
          ><p class="section-title">HISTORY</p></a
        >
        <p class="section-count">( {{ history_count }} )</p>
      </div>
      <div class="section-posters">
        {% for entry in entries %}
        <div class="poster">
          <a
            href="{% url 'history:detailed' entry.id %}"
            class="poster-card">
            <img
              src="https://image.tmdb.org/t/p/original{{ entry.posterpath }}"
              alt="{{ entry.title }}" />
          </a>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
</div>

<!-- <div class="wrap">
  <a
    class="btn"
    href="{% url 'accounts:logout' %}"
    >Logout</a
  >
</div> -->

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const welcomeAnimation = document.querySelector('.welcome-animation');

    if (welcomeAnimation) {
      welcomeAnimation.addEventListener('animationend', function () {
        welcomeAnimation.remove();
      });
    }
  });
</script>

<!-- prettier-ignore -->
{% endif %} 
{% endblock %}
