<!-- prettier-ignore -->
{% extends "base.html" %}{% load static %}

<!-- prettier-ignore -->
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'styles/accounts.css' %}" />åååå {% endblock %}
<!-- prettier-ignore -->

{% block main %}
<div class="register-form">
  <form method="post">
    {% csrf_token %} {% for field in form %}

    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }} {% if field.errors %}
    <ul class="errorlist">
      {% for error in field.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endfor %}
    <button
      type="submit"
      class="accounts-btn">
      Register
    </button>
  </form>
</div>

{% endblock %}
