{% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'styles/poster-grid.css' %}" />
{% endblock %}

<select name="sort_by">
  <option value="1">Alphabetical (A-Z)</option>
  <option value="2">Alphabetical (Z-A)</option>
  <option value="3">Priority (highest)</option>
  <option value="4">Priority (lowest)</option>
  <option value="5">Date Added (earliest)</option>
  <option value="6">Date Added (latest)</option>
</select>

<div class="poster-grid">
  {% for entry in entries %}
  <a
    href="{% url 'bookmarks:detailed' entry.id %}"
    class="poster-card">
    <img
      src="https://image.tmdb.org/t/p/original{{ entry.posterpath }}"
      alt="{{ entry.title }}" />
  </a>
  {% endfor %}
</div>

<!-- <div class="modal">
  <div class="modal-content">
    <img
      src=""
      alt="poster image" />
  </div>
</div> -->

<!-- <script>
  // get the modal and modal content
  const modal = document.querySelector('.modal');
  const modalContent = document.querySelector('.modal-content');

  // get all the poster cards and add click event listener
  const posterCards = document.querySelectorAll('.poster-card');
  posterCards.forEach((card) => {
    const img = card.querySelector('img');
    img.addEventListener('click', () => {
      // set the modal image source to the clicked image source
      modalContent.innerHTML = `<img src="${img.src}" alt="poster image" />`;
      // show the modal
      modal.style.display = 'block';
    });
  });

  // add click event listener to close the modal when clicked outside of the modal content
  modal.addEventListener('click', (event) => {
    if (event.target != modal) {
      modal.style.display = 'none';
    }
  });

  // add keydown event listener to close the modal when escape key is pressed
  document.addEventListener('keydown', (event) => {
    if (event.key === 'Escape') {
      modal.style.display = 'none';
    }
  });
</script> -->
