{% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'styles/poster-grid.css' %}" />
{% endblock %}

<div class="poster-grid">
  <div class="poster-card">
    <img
      src="https://image.tmdb.org/t/p/original/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg" />
  </div>
  <div class="poster-card">
    <img
      src="https://image.tmdb.org/t/p/original/7WUHnWGx5OO145IRxPDUkQSh4C7.jpg" />
  </div>
  <div class="poster-card">
    <img
      src="https://image.tmdb.org/t/p/original/vJUDoYNNKvBqbEPUskgvzPXGEFz.jpg" />
  </div>
  <div class="poster-card">
    <img
      src="https://image.tmdb.org/t/p/original/4XddcRDtnNjYmLRMYpbrhFxsbuq.jpg" />
  </div>
  <div class="poster-card">
    <img
      src="https://image.tmdb.org/t/p/original/ucpgmUR1h5Te1BYegKItoPjOeF7.jpg" />
  </div>
  <div class="poster-card">
    <img
      src="https://image.tmdb.org/t/p/original/vpbaStTMt8qqXaEgnOR2EE4DNJk.jpg" />
  </div>
</div>
