{% block head %}

<style>
  .search-field {
    width: 100%;
    height: 2rem;
    position: relative;
    display: flex;
  }

  .search-input {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .search-btn {
    width: 2rem;
    height: 100%;
    padding: 0.125rem;
    border: 3px solid black;
    background: black;
    text-align: center;
    fill: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  /*Resize the wrap to see the search bar change!*/
  .search-wrap {
    width: 50%;
    position: absolute;
    top: 0;
    padding-top: 3rem;
  }

  @media (min-width: 48rem) {
    .search-wrap {
      width: 10rem;
      position: initial;
      top: initial;
      padding-top: initial;
    }
  }
</style>

{% endblock %}

<div class="search-wrap">
  <form class="search-field">
    <input
      type="text"
      class="search-input"
      placeholder="Search" />
    <button
      type="submit"
      class="search-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512">
        <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
      </svg>
    </button>
  </form>
</div>
