<!-- prettier-ignore -->
{% extends "base.html" %}{% load static %}

<!-- prettier-ignore -->
{% block head %}

<style>
  .btn {
    width: fit-content;
    font-size: 0.75rem;
  }

  .detailed-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-bottom: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (min-width: 768px) {
    .detailed-grid {
      grid-template-columns: auto 2fr;
    }
  }

  .poster-img {
    max-width: 24.75rem;
  }

  .poster-img img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
  }

  .title {
    font-size: 2rem;
  }

  .priority,
  .overview,
  .added-on {
    font-size: 1rem;
  }

  .trailer {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  .centered {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .box {
    display: none;
    padding: 0.5rem;
    width: 50%;
    height: 6rem;
    border: 2px solid #fff;
    border-radius: 10px;
  }

  #updatezForm,
  #confirmBox {
    display: none;
  }

  #confirmBox p {
    font-size: 1.25rem;
    color: red;
    padding-bottom: 1rem;
  }

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
  }

  th {
    width: 25%;
    vertical-align: top;
    text-align: left;
  }

  td {
    width: 75%;
  }

  th,
  td {
    word-wrap: break-word;
  }

  textarea,
  input[type='text'],
  input[type='number'] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
</style>
<!-- <link
  rel="stylesheet"
  href="{% static 'styles/detailed.css' %}" /> -->
{% endblock %}

<!-- prettier-ignore -->
{% block main %}

<div class="detailed-grid">
  <img
    class="poster-img"
    src="https://image.tmdb.org/t/p/original{{ entry.posterpath }}" />

  <div class="info">
    <h1 class="title">{{ entry.title }} ({{ entry.year }})</h1>
    <h3 class="added-on">Added On: {{ entry.date_added }}</h3>
    <h3 class="priority">Priort: {{ entry.priority }}</h3>
    <p class="overview">Overview: "{{ entry.description }}"</p>
  </div>
</div>

<div
  class="buttons"
  id="buttons">
  <a
    href="{% url 'bookmarks:move' entry.id %}"
    class="btn"
    id="bookmarkBtn"
    >Bookmark</a
  >
  <a
    href="#"
    class="btn"
    id="editBtn"
    >Edit</a
  ><a
    class="btn"
    href="{% url 'bookmarks:delete' entry.id %}"
    id="deleteBtn"
    >Delete</a
  >
</div>

<div class="centered">
  <div
    class="box"
    id="box">
    <div
      class="updateForm"
      id="updateForm">
      <form method="post">
        <table>
          {% csrf_token %} {{ form.as_table }}
        </table>
        <div class="buttons">
          <button
            class="btn"
            type="submit">
            Update
          </button>
          <div id="cancelBtn1"><button class="btn">Cancel</button></div>
        </div>
      </form>
    </div>

    <div
      id="confirmBox"
      class="confirmBox">
      <div class="confirmBox-content">
        <p>Are you sure?</p>
        <div class="buttons">
          <button
            class="btn"
            id="confirmBtn">
            Yes
          </button>
          <div id="cancelBtn2"><button class="btn">No</button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const box = document.getElementById('box');
  const buttons = document.getElementById('buttons');
  const editBtn = document.getElementById('editBtn');
  const deleteBtn = document.getElementById('deleteBtn');
  const confirmBox = document.getElementById('confirmBox');
  const updateForm = document.getElementById('updateForm');
  const confirmBtn = document.getElementById('confirmBtn');
  const cancelBtn1 = document.getElementById('cancelBtn1');
  const cancelBtn2 = document.getElementById('cancelBtn2');

  editBtn.addEventListener('click', (e) => {
    e.preventDefault();
    buttons.style.display = 'none';
    box.style.display = 'block';
    updateForm.style.display = 'block';
    confirmBox.style.display = 'none';
  });

  deleteBtn.addEventListener('click', (e) => {
    e.preventDefault();
    buttons.style.display = 'none';
    box.style.display = 'block';
    updateForm.style.display = 'none';
    confirmBox.style.display = 'block';
  });

  confirmBtn.addEventListener('click', () => {
    window.location.href = deleteBtn.href;
  });

  cancelBtn1.addEventListener('click', () => {
    box.style.display = 'none';
    buttons.style.display = 'block';
  });
  cancelBtn2.addEventListener('click', () => {
    box.style.display = 'none';
    buttons.style.display = 'block';
  });
</script>
{% endblock %}
