<!-- prettier-ignore -->
{% extends "base.html" %}{% load static %}

<!-- prettier-ignore -->
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'styles/detailed.css' %}" />

<style>
  .btn {
    width: fit-content;
  }

  .bookmark-form {
    padding-bottom: 1rem;
  }
  .bookmark-form input[type='text'] {
    width: 1.75rem;
    text-align: center;
    height: 1.75rem;
  }

  .errorlist {
    color: red;
    list-style-type: none;
    padding-bottom: 0.25rem;
  }
</style>
{% endblock %}

<!-- prettier-ignore -->
{% block main %}

<div class="detailed-grid">
  <img
    class="poster-img"
    src="https://image.tmdb.org/t/p/original{{ result.poster_path }}" />

  <div class="info">
    <h1 class="title">{{ title }} ({{ year }})</h1>
    <h3 class="release-date">Released On: {{ date }}</h3>
    <p class="overview">Overview: "{{ result.overview }}"</p>
    <iframe
      class="trailer"
      src="{{ trailer }}"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <button
    class="btn"
    onclick="toggleBookmarkForm()"
    id="bookmark-btn">
    Bookmark
  </button>
  <div
    id="bookmark-form"
    style="display: none">
    <form method="POST">
      {% csrf_token %}
      <div class="bookmark-form">{{ bookmark_form.as_p }}</div>
      <button
        type="submit"
        class="btn"
        name="bookmark_submit">
        Save
      </button>
    </form>
  </div>

  <button
    class="btn"
    onclick="toggleHistoryForm()"
    id="history-btn">
    History
  </button>
  <div
    id="history-form"
    style="display: none">
    <form method="POST">
      {% csrf_token %}
      <div class="history-form">{{ history_form.as_p }}</div>
      <button
        type="submit"
        class="btn"
        name="history_submit">
        Save
      </button>
    </form>
  </div>
</div>
<script>
  function toggleBookmarkForm() {
    var x = document.getElementById('bookmark-form');
    var y = document.getElementById('bookmark-btn');
    var z = document.getElementById('history-btn');

    y.style.display = 'none';
    z.style.display = 'none';

    if (x.style.display === 'none') {
      x.style.display = 'block';
    } else {
      x.style.display = 'none';
    }
  }

  function toggleHistoryForm() {
    var x = document.getElementById('history-form');
    var y = document.getElementById('bookmark-btn');
    var z = document.getElementById('history-btn');

    y.style.display = 'none';
    z.style.display = 'none';
    if (x.style.display === 'none') {
      x.style.display = 'block';
    } else {
      x.style.display = 'none';
    }
  }
</script>

{% endblock %}
