{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content="Gian Tolentino" />

    <link
      rel="stylesheet"
      href="{% static 'styles/reset.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'styles/base.css' %}" />

    {% block head %} {% endblock %}

    <title>Watchly</title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <main class="main">{% block main %} {% endblock %}</main>

    <script>
      const navBurger = document.querySelector('.navbar-burger');
      const fullscreenMenu = document.querySelector('.fullscreen-menu');
      const closeBtn = document.querySelector('.close-btn');
      const main = document.querySelector('main');

      navBurger.addEventListener('click', () => {
        fullscreenMenu.classList.toggle('fullscreen-menu-active');
        main.style.display = 'none';
      });
      closeBtn.addEventListener('click', () => {
        fullscreenMenu.classList.remove('fullscreen-menu-active');
        main.style.display = 'block';
      });

      document.addEventListener('keydown', (event) => {
        if (event.key === 'Escape') {
          fullscreenMenu.classList.remove('fullscreen-menu-active');
          main.style.display = 'block';
        }
      });
    </script>
  </body>
</html>
