<!-- prettier-ignore -->
{% extends "base.html" %}{% load static %}

<!-- prettier-ignore -->
{% block head %}

<style>
  .btn {
    width: fit-content;
    font-size: 0.75rem;
  }

  .detailed-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-bottom: 1rem;
  }

  @media screen and (min-width: 768px) {
    .detailed-grid {
      grid-template-columns: auto 2fr;
    }
  }

  .poster-img {
    max-width: 24.75rem;
  }

  .poster-img img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
  }

  .title {
    font-size: 2rem;
  }

  .priority,
  .overview,
  .added-on {
    font-size: 1rem;
  }

  .trailer {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  .centered {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .box {
    display: none;
    padding: 0.5rem;
    width: 50%;
    height: 6rem;
    border: 2px solid #fff;
    border-radius: 10px;
  }

  #updateForm,
  #confirmBox {
    display: none;
  }

  #confirmBox p {
    font-size: 1.25rem;
    color: red;
    padding-bottom: 1rem;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
  }

  th {
    width: 25%;
    vertical-align: top;
    text-align: left;
  }

  td {
    width: 75%;
  }

  th,
  td {
    word-wrap: break-word;
  }

  textarea,
  input[type='text'],
  input[type='number'] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
</style>
<!-- <link
  rel="stylesheet"
  href="{% static 'styles/detailed.css' %}" /> -->
{% endblock %}

<!-- prettier-ignore -->
{% block main %}

<div class="detailed-grid">
  <div class="poster-img">
    <img src="https://image.tmdb.org/t/p/original{{ entry.posterpath }}" />
  </div>

  <div class="info">
    <h1 class="title">{{ entry.title }} ({{ entry.year }})</h1>
    <h3 class="added-on">Added On: {{ entry.date_added }}</h3>
    <p class="overview">Overview: "{{ entry.description }}"</p>
    <p class="feedback">Feedback: {{ entry.feedback }}</p>
    <p class="rating">Rating: {{ entry.rating }}</p>
  </div>
</div>

<button
  class="btn"
  id="updateBtn">
  Update
</button>

<div
  class="updateForm"
  id="updateForm">
  <form method="post">
    <table>
      {% csrf_token %} {{ form.as_table }}
    </table>

    <div class="buttons">
      <button
        class="btn"
        type="submit">
        Update
      </button>
      <div id="cancelBtn1"><button class="btn">Cancel</button></div>
    </div>
  </form>
</div>

<a
  class="btn"
  id="deleteBtn"
  href="{% url 'history:delete' entry.id %}"
  >DELETE</a
>

<div
  id="confirmBox"
  class="confirmBox">
  <div class="confirmBox-content">
    <p>Are you sure?</p>
    <div class="buttons">
      <button
        class="btn"
        id="confirmBtn">
        Yes
      </button>
      <div id="cancelBtn"><button class="btn">No</button></div>
    </div>
  </div>
</div>

<script>
  const updateBtn = document.getElementById('updateBtn');
  const updateForm = document.getElementById('updateForm');
  const deleteBtn = document.getElementById('deleteBtn');
  const confirmBox = document.getElementById('confirmBox');
  const confirmBtn = document.getElementById('confirmBtn');

  updateBtn.addEventListener('click', (e) => {
    e.preventDefault();
    updateBtn.style.display = 'none';
    updateForm.style.display = 'block';
    deleteBtn.style.display = 'none';
  });

  deleteBtn.addEventListener('click', (e) => {
    e.preventDefault();
    deleteBtn.style.display = 'none';
    confirmBox.style.display = 'block';
  });

  confirmBtn.addEventListener('click', () => {
    window.location.href = deleteBtn.href;
  });

  cancelBtn.addEventListener('click', () => {
    confirmBox.style.display = 'none';
    deleteBtn.style.display = 'block';
  });
</script>
{% endblock %}
