<!-- prettier-ignore -->
{% extends "base.html" %}{% load static %}
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'styles/poster-grid.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block main %}
<div class="sort-container">
  <form method="GET">
    <select
      class="sort"
      name="sort_by"
      id="sort_by"
      onchange="this.form.submit()">
      <option
        value=""
        selected>
        Sort by..
      </option>
      <option value="1">Alphabetical (A-Z)</option>
      <option value="2">Alphabetical (Z-A)</option>
      <option value="3">Date Added (earliest)</option>
      <option value="4">Date Added (latest)</option>
      <option value="5">Date Watched (earliest)</option>
      <option value="6">Date Watched (latest)</option>
      <option value="7">User Rating (highest)</option>
      <option value="8">User Rating (lowest)</option>
    </select>
  </form>
</div>

<div class="poster-grid">
  {% for entry in entries %}
  <a
    href="{% url 'history:detailed' entry.id %}"
    class="poster-card">
    <img
      src="https://image.tmdb.org/t/p/original{{ entry.posterpath }}"
      alt="{{ entry.title }}" />
  </a>
  {% endfor %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var select = document.getElementById('sort_by');
    select.value = '{{ request.GET.sort_by }}';
    console.log('Hello');
  });
</script>

<!-- prettier-ignore -->
{% endblock %}
