.welcome-msg {
  font-size: max(1.5rem, 7vw);
  text-transform: uppercase;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transform: translate(-50%, -50%);
}

@media (min-width: 48rem) {
  .wrap {
    flex-direction: row;
  }
}
