@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html {
  font-family: 'Lato', sans-serif;
}

main {
  padding: 5rem 2rem 1rem 2rem;
  min-height: calc(100vh - 4rem);
}

.btn {
  display: inline-block;
  width: 6rem;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
