.buttons {
  display: flex;
}

.buttons .btn:not(:last-child) {
  margin-right: 1rem;
}

.btn {
  width: fit-content;
  font-size: 0.75rem;
}

.detailed-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding-bottom: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .detailed-grid {
    grid-template-columns: auto 2fr;
  }
}

.poster-img {
  max-width: 24.75rem;
}

.poster-img img {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.title {
  font-size: max(2.5rem, 3vw);
}

p {
  font-size: max(1.25rem, 1.5vw);
}

.added-on {
  font-size: 1rem;
}

.trailer {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.updateForm,
.confirmBox {
  display: none;
}

#confirmBox p {
  font-size: 1.25rem;
  color: red;
  padding-bottom: 1rem;
}

table {
  table-layout: fixed;
  max-width: 24.75rem;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

th {
  width: 25%;
  vertical-align: top;
  text-align: left;
}

td {
  width: 75%;
}

th,
td {
  word-wrap: break-word;
}

table textarea,
table input[type='text'],
table input[type='number'] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
