.poster-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.poster-card {
  width: 100%;
  aspect-ratio: 2/3;
  border: 2px solid hotpink;
  border-radius: 10px;
  overflow: hidden;
}
